#container {
  margin: 0 auto;
  border:inset 10px #336699;
  background-color: #669999;
}
.long2 {
  margin-left:60px;
}
.long1 {
  margin-left:60px;
}
h1 {
  text-align:center;
  font-family:stencil;
}
p {
  text-align:center;
  font-family:stencil;
}
#gallery1 {
  border: outset 12px #996633;
}
