
html {
	background-image: url(../Images/Savannah.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#nav {
	margin-top: 20px;
	margin-left: -10px;
	height: 80px;
	width: 101%;
	position: fixed;
	top: 0;		
}
.left {
	
	width: 90%;
	margin: 0 auto;
}

#filler {
	height: 120px;
	width: 100%;
}
article {
	width: 70%;
	height: auto;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;
	color: white;
}
