/*Hey fellas!*/
html {
	background-image: url(../Images/Savannah.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#nav {
	margin-top: 20px;
	margin-left: -10px;
	height: 80px;
	width: 101%;
	position: fixed;
	top: 0;		
}
.left {
	
	width: 90%;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: yellow

}
li {
	list-style: none;
	display: inline-block;
	margin-left: 70px;
	margin-top: 15px;
	font-size: 20px;
	font-family: palatino;
	color: green
}
#tiger {
	height: 400px;
	width: 400px;
}